body {
    margin: 0px;
    font-size: 18px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    background-image: url(../images/crossline-dots.png);
}

header {
    border-bottom: 2px solid  #cccccc;
    margin: 0px;
    background: white;
}

h1 {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    font-weight: bold;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divHeader {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    overflow: auto;
}

.divPList {
    color: #777777;
    float: right;
    padding-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0px;
}

li {
    display: inline;
}

.navLinks {
    color: #777777;
    text-decoration: none;
}

#aboutLink {
    font-weight: bold;
}

#contactLink {
    font-weight: bold;
}

#portfolioLink {
    font-weight: bold;
}

.liMiddle {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding-left: 5px;
    padding-right: 5px;
}

.divName {
    background: #4aaaa5;
    color: #ffffff;
    height: 100%;
    margin-top: 0%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.divMContent {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px solid #dddddd;
    background: white;
}

.mContHead {
    color: #4aaaa5;
}

.divInsideM {
    padding: 30px;
    padding-top: 10px;
    overflow: auto;
}

#portCont {
    position: relative;
}

#profilePic {
    float: left;
    width: 25%;
    margin-right: 20px;
}

.wFont {
    color: #ffffff;
}

.imgSize {
    width: 320px;
    height: 240px;
}

.imgDiv {
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.imgRight {
    margin-left: 30px;
}

.imgLabel {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    bottom: 15px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

p {
    line-height: 1.75em;
    color: #777777;
}

#button {
    background: #4aaaa5;
    border: 0;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
}

.textInputs {
    margin-top: 5px;
    width: 100%;
}

form {
    color: #777777;
}

#message {
    height: 150px;
}

footer {
    text-align: center;
    background: #666666;
    color: #cccccc;
    border-top: 10px solid #4aaaa5;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 0.75em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .divMContent {
        width: 640px;
        margin-left: 4%;
        margin-right: auto;
        margin-top: 40px;
        border: 1px solid #dddddd;
        background: white;
    }

    .divHeader {
        width: 880px;
        margin-right: auto;
        margin-left: 4%;
        margin-top: 0px;
        overflow: auto;
    }

    .imgSize {
        width: 100%;
        height: 100%;
    }
    
    .imgDiv {
        float: left;
        width: 45%;
        margin-bottom: 20px;
        position: relative;
    }

    .imgRight {
        margin-left: 10%;
    }
}

@media screen and (max-width: 768px) {
    .divMContent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        border: 1px solid #dddddd;
        background: white;
    }

    .divHeader {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        overflow: auto;
    }

    #profilePic {
        float: left;
        width: 33.33%;
        margin-right: 20px;
    }

}

@media screen and (max-width: 640px) {
    .divMContent {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40%;
        border: 1px solid #dddddd;
        background: white;
    }

    .divHeader {
        width: 100%;
        margin-top: 0px;
        overflow: auto;
    }

    #profilePic {
        float: left;
        width: 100%;
        margin-right: 20px;
    }

    .divName {
        background: #4aaaa5;
        color: #ffffff;
        height: 100%;
        margin-top: 0%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .headName {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .divPList {
        color: #777777;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    header {
        position: static;
    }

    .imgDiv {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    .imgRight {
        margin-left: 0;
    }

}